body{
    font-size: $font-base;
    line-height: 1.5;
}
p{
    font-size: $font-content;
    margin-top: 20px;
}

// body{
//     @include rhythm(16, 24);
//     //font-size: $font-base;
//     //line-height: 1.5;
// }
// p{
//     @include rhythm(22.624, 33.936);
//     //font-size: $font-content;
//     //margin-top: 20px;
// }