/************/
/***IMPORT***/
/************/

/****generic****/
@import 'generic/reset';
/****tools***/
@import 'tools/baseline';
/****settings***/
@import 'settings/colors';
@import 'settings/fontFace';
@import 'settings/global';
/****generic****/
@import 'generic/normalize';
/****base****/
@import 'base/headings';
@import 'base/links';
@import 'base/forms';
/****components****/
@import 'components/pageFooter';
@import 'components/pageHeader';
@import 'components/pageContact';
@import 'components/pageGallery';
@import 'components/siteNav';
/****trumps****/
@import 'trumps/hideText';

/***********/
/****CSS****/
/***********/

/****body****/
.wrapper{
    margin: 0 auto;
    max-width: 2000px;
    &__content{
    margin: 0 $spacing-el;
    }
}

body{
    background-color: $bleu2;
    color: #fff;
    font-family: $oswaldLight;
}
.home article{
    display:flex;
    flex-flow: row nowrap;
    //align-items: center;
    //justify-content:flex-start;
    align-items: flex-start;
}
.biography{
    max-width: 1000px;
    border-left:5px $bleu1 solid;
    padding-left:20px;
    flex:1.2;
    align-self: flex-start;
    p{
        font-family: 'baskerville';
    }
}
dl{
    font-size: $font-content;
    flex:2;
    margin: 0 0 0 10%;
    max-width: 500px;
    background-color: $bleu3;
    padding:0 15px;
}
dt:not(:first-child){
    margin-top: $spacing-el;
}
dt{
    font-size: $font-lvl1;
    margin-top:20px;
}
dd{
    margin:20px 0 0 20px;
}
dd:last-child{
    margin-bottom: 30px;
}
/****Events****/

.event{
    margin: 0 auto;
    //position: relative;
    width: 50%;
    text-align: center;
    h2{
        text-transform: uppercase;
        margin-bottom: $spacing-el/2;
    }
    a{
        text-transform: uppercase;
        font-family: $oswaldRegular;
        &:hover, &:active, &:focus{
            text-decoration: underline;
            //color: $bleu3;
        }
    }
    span{
    display: block;
    font-size: $font-base;
    font-family: 'baskerville';
    margin-bottom: $spacing-unit;
    }
}

hr{
    //display: block;
    width: 500px;
    margin: $spacing-el auto;
    border: 1px solid $bleu1;
}