/************/


/***IMPORT***/


/************/


/****generic****/

@import 'generic/reset';

/****tools***/

@import 'tools/baseline';
@import 'tools/flexGalery';
@import 'tools/prefix';

/****settings***/

@import 'settings/colors';
@import 'settings/fontFace';
@import 'settings/global';

/****generic****/

@import 'generic/normalize';

/****base****/

@import 'base/headings';
@import 'base/links';
@import 'base/forms';

/****components****/

@import 'components/pageFooter';
@import 'components/pageHeader';
@import 'components/pageContact';
@import 'components/pageGallery';
@import 'components/pageBio';
@import 'components/siteNav';
@import 'components/pageIntro';
@import 'components/pageEvent';

/****trumps****/

@import 'trumps/hideText';
@import 'settings/responsive';

/***********/


/****CSS****/


/***********/


/****body****/

.wrapper {
    margin: 0 auto;
    max-width: 2000px;
    &__content {
        //margin: 0 $spacing-el;
    }
}

@media (max-width: 955px) {
    .wrapper__content {
        margin: 0 20px;
    }
}

@media (max-width: 475px) {
    .wrapper__content {
        margin: 0 5px;
    }
}

@media (max-width: 400px) {
    .wrapper__content {
        margin: 0 2px;
    }
    .biography {
        border-left: 10px $bleu3 solid !important;
    }
}

body {
    background-color: $base-bcg-color;
    color: $bleu3;
    font-family: $oswaldLight;
}