footer{
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, .2);
    padding: $spacing-el;
    margin-top: 100px;
}
.social-media{
    font-family: 'icon';
    width: 100%;
    //margin: 100px auto 25px;
    text-align: center;
}
footer a{
    @include rhythm($font-lvl1, 72);
    text-decoration: none;
    margin:0 $spacing-el;
}
footer a:hover, footer a:focus{
    color: $hover-color;
}
footer a.facebook:before {
  content: "\e041";
}
footer a.google:before {
  content: "\e042";
}
footer a.instagram:before {
  content: "\e057";
}
footer a.pinterest:before {
  content: "\e043";
}
footer a.blog:before {
  content: "\e020";
}