form.contact{
    background-color: $bleu3;
    padding: $spacing-el;
    margin:$spacing-el auto 0;
    width: 400px;
    
    label, #submit{
        margin-top: 25px;
        font-size: $font-lvl1;
    }
    input, textarea{
        min-width: 300px;
        color: $bleu3;
    }
    
    input:focus, textarea:focus{
        background-color: $bleu3;
        color: $bleu1;
    }
    legend{
        font-size: $font-lvl2;
        text-transform: uppercase;
        line-height: 1;
    }
}
