/****Gallery****/

.nav {
    text-align: center;
    margin-top: 36px;
    li {
        display: inline-block;
        margin-right: $spacing-unit;
        @include rhythm($font-content, $font-content*1.5);
        padding: $spacing-unit/2 $spacing-unit/2;
        &.active {
            background-color: $litle-elements;
            border-radius: 5px;
            a {
                color: #fff;
            }
        }
    }
}

.container-media {
    width: 90%;
    margin: 0 auto;
    .nav {
        margin: $spacing-el*2 0 $spacing-el;
    }
    .gallerie {
        ul {
            @include flexbin(500px, 20px);
            li figure {
                position: relative;
                img {
                    &:hover {
                        cursor: zoom-in;
                    }
                }
                .img_hover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.7);
                    color: #FFF;
                    margin: 0;
                    width: 100%;
                    height: 200px;
                    display: none;
                    p {
                        //font-size: 16px;
                        line-height: 1.5;
                        //margin: 0;
                    }
                    &__title {
                        font-size: $font-content+px;
                        text-transform: uppercase;
                        margin: 5px 0 10px 12px;
                        font-family: $oswaldMedium;
                    }
                    &__technique {
                        margin: 0 0 5px 24px;
                        font-size: 20px;
                        &:before {
                            display: inline-block;
                            content: "";
                            width: 20px;
                            height: 20px;
                            background-image: url('../images/tech.png');
                            background-repeat: no-repeat;
                            background-size: 100%;
                            color: #FFF;
                            margin-right: 10px;
                            margin-bottom: -2px;
                        }
                    }
                    &__size {
                        margin: 0 0 40px 24px;
                        font-size: 20px;
                        &:before {
                            display: inline-block;
                            content: "";
                            width: 20px;
                            height: 20px;
                            background-image: url('../images/size.png');
                            background-repeat: no-repeat;
                            background-size: 100%;
                            color: #FFF;
                            margin-right: 10px;
                            margin-bottom: 0px;
                        }
                    }
                    .btn {
                        margin-left: $spacing-el/2;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        background: $bleu3;
                        color: #FFF;
                        padding: 2.5% 20%;
                        // position: absolute;
                        //top: 10px;
                        //right: 20px;
                        &:hover {
                            background: saturate($bleu3, 50%)
                        }
                    }
                }
                &:hover .img_hover {
                    display: block;
                }
            }
        }
    }
}

.tooltip {
    position: relative;
    background: #60404f;
    padding: 5px 17px;
    font-size: 26px;
    border-radius: 71%;
    margin-right: 10px;
    font-family: $oswaldRegular;
    color: #FFF;
}

.tooltip:before,
.tooltip:after {
    position: absolute;
    content: '';
    opacity: 0;
    transition: all 0.4s ease;
}

.tooltip:before {
    border-width: 10px 8px 0 8px;
    border-style: solid;
    border-color: $red transparent transparent transparent;
    top: -10px;
    transform: translateY(20px);
}

.tooltip:after {
    content: attr(data-tooltip);
    background: $red;
    width: 160px;
    height: 40px;
    font-size: 13px;
    font-weight: 300;
    top: -50px;
    left: -10px;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transform: translateY(20px);
}

.tooltip:hover::before,
.tooltip:hover::after {
    opacity: 1;
    transform: translateY(-2px);
}

@keyframes shake {
    0% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#anim {
    display: inline-block;
    &:hover {
        animation: shake 500ms ease-in-out forwards;
    }
}


/*GALLERIE SMARTPHON*/

// .container-media {
//     max-width: 800px;
//     margin: 5% auto;
//     padding: 20px;
//     border-radius: 10px;
//     overflow: hidden;
//     box-sizing: border-box;
//     box-shadow: 0 0 5px $red;
//     position: relative;
// }
// .text-center {
//     text-align: center;
//     margin-bottom: 1em;
// }
// .gallerie {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: center;
// }
// .gallerie div>img {
//     max-width: 100%;
//     display: block;
//     &:hover {
//         cursor: pointer;
//     }
// }
// @media only screen and (max-width: 490px) {
//     .gallerie {
//         flex-direction: column;
//         align-items: center;
//     }
//     .lightbox>div {
//         margin-bottom: 10px;
//     }
//     #anim,
//     .container-media .nav li {
//         display: block;
//     }
//     #anim {
//         margin-bottom: 20px;
//     }
//     .container-media .nav {
//         margin-top: 50px;
//     }
// }

/*Lighbox CSS*/

.lightbox {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding-top: 30px;
    box-sizing: border-box;
}

.lightbox img {
    display: block;
    vertical-align: center;
    margin: auto;
    width: 35%;
}

@media screen and (max-width:600px) {
    .lightbox img {
        width: 90%;
    }
}

.lightbox .caption {
    margin: 15px auto;
    width: 50%;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
    //font-weight: 700;
    color: #eee;
    letter-spacing: 1px;
}

.here {
    display: flex;
}

.nothere {
    display: none;
}

// body.galerie {
//     .container-media {
//         max-width: 80%;
//         margin: $spacing-el auto 0;
//         .gallerie {
//             margin-top: $spacing-el;
//             div {
//                 position: relative;
//                 margin: 10px;
//                 flex-basis: 30%;
//                 .img_hover {
//                     position: absolute;
//                     top: 0;
//                     left: 0;
//                     background-color: rgba(0, 0, 0, 0.7);
//                     color: #FFF;
//                     margin: 0;
//                     width: 100%;
//                     height: 150px;
//                     display: none;
//                     p {
//                         //font-size: 16px;
//                         line-height: 1.5;
//                         //margin: 0;
//                     }
//                     &__title {
//                         font-size: $font-content+px;
//                         text-transform: uppercase;
//                         margin: 5px 0 10px 12px;
//                         font-family: $oswaldMedium;
//                     }
//                     &__technique {
//                         margin: 0 0 5px 24px;
//                         font-size: 20px;
//                         &:before {
//                             display: inline-block;
//                             content: "";
//                             width: 24px;
//                             height: 24px;
//                             background-image: url('../images/tech.png');
//                             background-repeat: no-repeat;
//                             color: #FFF;
//                             margin-right: 10px;
//                         }
//                     }
//                     &__size {
//                         margin: 0 0 0 24px;
//                         font-size: 20px;
//                         &:before {
//                             display: inline-block;
//                             content: "";
//                             width: 24px;
//                             height: 24px;
//                             background-image: url('../images/size.png');
//                             background-repeat: no-repeat;
//                             color: #FFF;
//                             margin-right: 10px;
//                         }
//                     }
//                 }
//                 &:hover .img_hover {
//                     display: block;
//                 }
//             }
//         }
//     }
// }
// @media (max-width: 1200px) {
//     body.galerie {
//         .container-media {
//             .gallerie {
//                 div {
//                     flex-basis: 45%;
//                 }
//             }
//         }
//     }
// }
// @media (max-width: 750px) {
//     body.galerie {
//         .container-media {
//             .gallerie {
//                 div {
//                     flex-basis: 100%;
//                 }
//             }
//         }
//     }
// }