form.contact{
    background-color: $bleu3;
    padding: $spacing-el;
    margin:$spacing-el auto 0;
    width: 400px;
    
    label{
        margin-top: $spacing-unit*3;
        @include rhythm($font-content, 36);
    }
    input, textarea{
        margin-top: $spacing-unit;
        min-width: 300px;
        color: #fff;
        background-color:$bleu3;
        border-top: 3px solid $litle-elements;
    }
    
    input:focus, textarea:focus{
        background-color: $bleu3;
        color: #fff;
        border-top: none;
        border-bottom: 3px solid $litle-elements;
    }
    legend{
        @include rhythm($font-lvl1, 72);
        text-transform: uppercase;
    }
    #submit{
        background-color: #FFF;
        color: $bleu3;
    @include rhythm($font-content, 36);
    }
}
