.headeer {
    min-height: 500px;
    overflow-y: hidden;
    position: relative;
    background-image: url(../images/intro4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    h1 {
        font-family: 'script';
        display: inline-block;
        margin-left: $spacing-el*2;
    }
    &:before {
        display: block;
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.3);
        z-index: -1;
    }
}


/*********************/


/*******SIDEBAR*******/


/*********************/

body {
    overflow-x: hidden;
}

#menu {
    display: none;
}

@media (max-width:629px) {
    body {
        overflow-x: hidden;
    }
    .header {
        min-height: inherit;
        position: relative;
        margin-bottom: $spacing-el;
        h1 {
            text-align: inherit !important;
            display: block !important;
            font-size: 13vw !important;
            width: 100% !important;
        }
    }
    .sidebar {
        width: 0px;
        background-color: $base-bcg-color;
        position: absolute;
        right: -300px;
        top: 123px;
        height: 100vh;
        //width: 300px;
        transform: translateX(0);
        transition: transform 0.3s;
        z-index: 10;
        a {
            display: block;
        }
    }
    .has-sidebar .sidebar {
        transform: translateX(-300px);
        width: 300px;
    }
    #menu {
        display: block;
        border: none;
        background-color: inherit;
        //margin-left: 5%;
        position: absolute;
        top: 0;
        right: 0;
        span:before {
            display: inline-block;
            font-family: 'Icon';
            font-size: 15vw;
            //height: 50px;
            //width: 50px;
            content: '\e9bd';
            color: $bleu3;
        }
    }
    .nav-effect a {
        display: block;
    }
}