@font-face{
    font-family: 'SourceSansPro-Black';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf') format('truetype');
}
@font-face{
    font-family: 'SourceSansPro-BlackItalic';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf') format('truetype');
}
@font-face{
    font-family: 'SourceSansPro-Bold';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format('truetype');
}
@font-face{
    font-family: 'SourceSansPro-BoldItalic';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf') format('truetype');
}
@font-face{
    font-family: 'SourceSansPro-ExtraLight';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf') format('truetype');
}
@font-face{
    font-family: 'SourceSansPro-ExtraLightItalic';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
}
@font-face{
    font-family: 'SourceSansPro-Italic';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf') format('truetype');
}
@font-face{
    font-family: 'SourceSansPro-Light';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf') format('truetype');
}
@font-face{
    font-family: 'SourceSansPro-LightItalic';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-LightItalic.ttf') format('truetype');
}
@font-face{
    font-family: 'SourceSansPro-Regular';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'SourceSansPro-Semibold';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-Semibold.ttf') format('truetype');
}
@font-face{
    font-family: 'SourceSansPro-SemiboldItalic';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-SemiboldItalic.ttf') format('truetype');
}

@font-face{
    font-family: 'Oswald-Bold';
    src:url('../fonts/Oswald/Oswald-Bold.ttf') format('truetype');
}
@font-face{
    font-family: 'Oswald-ExtraLight';
    src:url('../fonts/Oswald/Oswald-ExtraLight.ttf') format('truetype');
}
@font-face{
    font-family: 'Oswald-Light';
    src:url('../fonts/Oswald/Oswald-Light.ttf') format('truetype');
}
@font-face{
    font-family: 'Oswald-Medium';
    src:url('../fonts/Oswald/Oswald-Medium.ttf') format('truetype');
}
@font-face{
    font-family: 'Oswald-Regular';
    src:url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'Oswald-SemiBold';
    src:url('../fonts/Oswald/Oswald-SemiBold.ttf') format('truetype');
}

@font-face{
    font-family: 'icon';
    src:url('../fonts/socicon/socicon.ttf') format('truetype');
    src:url('../fonts/socicon/socicon.eot');
    src:url('../fonts/socicon/socicon.svg') format('svg');
    src:url('../fonts/socicon/socicon.woff') format('woff');
}

@font-face{
    font-family: 'Baskerville';
    src:url('../fonts/libre_baskerville.ttf') format('truetype');
}

@font-face{
    font-family: 'Script';
    src:url('../fonts/CoveredByYourGrace.ttf') format('truetype');
}
@font-face{
    font-family: 'Icon';
    src: url('../fonts/IconMoon.ttf') format('truetype');
}