//Fonts-size
$font-base: 1em;
$font-micro: 0.75em;
$font-content: 24;
$font-lvl1: 48;
$font-lvl2: 72;
$font-lvl3: 96;

//Fonts-family
$oswaldELight: "Oswald-ExtraLight", "SourceSansPro-ExtraLight", sans-serif;
$oswaldLight: "Oswald-Light", "SourceSansPro-Light", sans-serif;
$oswaldRegular: "Oswald-Regular", "SourceSansPro-Regular", sans-serif;
$oswaldBold: "Oswald-Bold", "SourceSansPro-Bold", sans-serif;

$sspLight: "SourceSansPro-Light", "Oswald-Light", sans-serif;
$sspRegular: "SourceSansPro-Regular", "Oswald-Regular", sans-serif;
$sspBold: "SourceSansPro-Bold", "Oswald-Bold", sans-serif;

//Spacing
$spacing-unit: 12px;
$spacing-el: 48px;

//Padding
$input-padding: 10px 6px 10px 6px;