$font-base: 0.625em;

$oswaldELight: "Oswald-ExtraLight", "SourceSansPro-ExtraLight", sans-serif;
$oswaldLight: "Oswald-Light", "SourceSansPro-Light", sans-serif;
$oswaldRegular: "Oswald-Regular", "SourceSansPro-Regular", sans-serif;
$oswaldBold: "Oswald-Bold", "SourceSansPro-Bold", sans-serif;

$sspLight: "SourceSansPro-Light", "Oswald-Light", sans-serif;
$sspRegular: "SourceSansPro-Regular", "Oswald-Regular", sans-serif;
$sspBold: "SourceSansPro-Bold", "Oswald-Bold", sans-serif;
